@model IEnumerable<Assignment2.Models.StockRequest>

@{
    ViewData["Title"] = "StockRequest";
}

<h2>Stock Request</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockRequestID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StockRequestID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StockRequestID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StockRequestID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StockRequestID">Delete</a> |
                <a asp-action="Process" asp-route-id="@item.StockRequestID">Process</a>
            </td>
        </tr>
        }
    </tbody>
</table>
