
@model IEnumerable<Assignment2.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<script src="~/lib/angular/angular.min.js"></script>
<script src="~/app/myApp.module.js"></script>
<script src="~/app/OrderCtrl.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<div ng-app="myApp" ng-controller="OrderCtrl">

    <h3>Orders</h3>
    <hr>
    <button class="btn btn-success" ng-click="ViewOrder('new')">
        <span class="glyphicon glyphicon-user"></span>  Create New Order
    </button>
    <hr>
    <h3 ng-show="view">Create New Order:</h3>
    <h3 ng-hide="view">View Order:</h3>

    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Order ID: </label>
            <div class="col-sm-10">
                <input type="text" ng-model="OrderID" ng-disabled="!view" placeholder="OrderID">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Order Date: </label>
            <div class="col-sm-10">
                <input type="text" ng-model="OrderDate" ng-disabled="!view" placeholder="OrderDate">
            </div>
        </div>

    </form>

    <hr>
    <button class="btn btn-success" ng-disabled="error || incomplete">
        <span class="glyphicon glyphicon-save"></span>  Save Changes
    </button>


    <table class="table table-striped">
        <thead>
            <tr>

                <th>Order ID</th>
                <th>Order Date</th>
                <th>View</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="order in orders">
                <td>{{ order.OrderID}}</td>
                <td>{{ order.OrderDate}}</td>
                <td>
                    <button class="btn" ng-click="ViewOrder(order.OrderID)">
                        <span></span>View
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    @*<script>
        var app = angular.module('myApp', []);
        app.controller('OrderCtrl', function ($scope, $http) {
            $http.get("ApplicationDbContext.cs")
                .then(function (response) { $scope.names = response.data.records; });
        });
    </script>*@



</div>





    @*<table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderID)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.OrderDate)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderDate)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@



