@model Assignment2.Models.Store

@{
    ViewData["Title"] = "Store Inventory";
    var storeID = Model.StoreID;
}

<h2>Inventory List</h2>

<div>
    <h4><strong>Store</strong> - @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <h5><strong>@Html.DisplayNameFor(model => model.StoreID)</strong> : @Model.StoreID</h5>
    <hr />

    <h5><strong>@Html.DisplayNameFor(model => model.StoreInventories)</strong></h5>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Product ID
                </th>
                <th>
                    Product Name
                </th>
                <th>
                    StockLevel
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StoreInventories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockLevel)
                    </td>
                    <td>
                        <a asp-action="AddCart" asp-route-id="@Model.StoreID" asp-route-productID="@item.ProductID">Add to Cart</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StoreID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
