@model IEnumerable<Assignment2.Models.Store>

@{
    ViewData["Title"] = "All Stores";
}

<h2>All Stores</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.StoreID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.StoreID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.StoreID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
